!!! 5
html(lang="en")
  head
    title Kostas Cashflow
    script(type="text/javascript", src="/lib/jquery-1.5.1.js")
    script(type="text/javascript", src="/lib/underscore.js")
    script(type="text/javascript", src="/lib/backbone.js")
    script(type="text/javascript", src="/models/models.js")
    script(type="text/javascript", src="/controllers/controllers.js")
    script(type="text/javascript", src="/views/views.js")
      body
    #heading
      h1 Kostas Cashflow
    #content
      p 
        | cashflow
        span#balance 0
      p
        | Movements
        ul#movements_list

      form(method="post", action="#", onsubmit="return false")#newMovementForm
        p
          label Date:
            input(type='text', name='date')
        p
          label Description:
            input(type='text', name='description')
        p
          label Amount:
            input(type='text', name='amount')
            input(type='submit', value='send')

    #footer
